.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.input__label {
  font-family: var(--font-family);
  font-size: var(--fs-sm);
  font-weight: 500;
  color: var(--color-text);
}

.input__required {
  color: var(--color-error);
  margin-left: 4px;
}

.input__field {
  width: 100%;

  padding: 14px 16px;

  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);

  background: var(--color-white);

  font-family: var(--font-family);
  font-size: var(--fs-md);

  transition: var(--transition);
}

.input__field::placeholder {
  color: var(--gray-400);
}

.input__field:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(52, 84, 245, 0.12);
}

.input__field:disabled {
  background: var(--gray-100);
  cursor: not-allowed;
}

.input__field--error {
  border-color: var(--color-error);
}

.input__field--error:focus {
  border-color: var(--color-error);
  box-shadow: 0 0 0 3px rgba(220, 38, 38, 0.12);
}

.input__error {
  color: var(--color-error);
  font-size: var(--fs-xs);
}