.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 10px 28px;

  border: none;
  border-radius: var(--radius-sm);

  font-family: var(--font-family);
  font-size: var(--fs-md);
  font-weight: 600;
  line-height: 24px;

  transition: all var(--transition);

  cursor: pointer;
}

/* ===========================
   Primary
=========================== */

.button--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.button--primary:hover:not(:disabled) {
  background: var(--color-primary-hover);
}

/* ===========================
   Secondary
=========================== */

.button--secondary {
  background: #EEF2FF;
  color: var(--color-primary);
}

.button--secondary:hover:not(:disabled) {
  background: #E0E7FF;
}

/* ===========================
   Outline
=========================== */

.button--outline {
  background: transparent;
  border: 1px solid var(--color-border);
  color: var(--color-text);
}

.button--outline:hover:not(:disabled) {
  background: var(--gray-50);
}

/* ===========================
   Danger
=========================== */

.button--danger {
  background: var(--color-error);
  color: var(--color-white);
}

.button--danger:hover:not(:disabled) {
  filter: brightness(.95);
}

/* ===========================
   Disabled
=========================== */

.button:disabled {
  opacity: .5;
  cursor: not-allowed;
}