body {
  font-family: var(--font-family);
  font-size: var(--fs-md);
  line-height: 1.5;
  color: var(--black);
}

h1 {
  font-size: var(--fs-2xl);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-xl);
  font-weight: 700;
}

p {
  color: var(--gray-700);
}