.auth-layout {
    min-height: 100vh;
    background: #F8FAFC;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
}

.auth-layout__container {
    width: 100%;
    max-width: 420px;
}

@media (max-width:768px){

    .auth-layout{
        justify-content:flex-start;
        align-items:flex-start;

        padding:40px 24px;
    }

    .auth-layout__container{
        max-width:100%;
    }

}