.auth-layout {
  min-height: 100vh;
  background-color: var(--gray-50);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

.auth-container {
  width: 100%;
  max-width: 450px;
}